<section class="content">

  <span class="title">Simon Game</span>

  <div class="board">

    <div class="board-row">
      <div class="panel-button">
        <panel-button [panelColor]="'#FF1744'"> </panel-button>
      </div>

      <div class="separator-vertical">&nbsp;</div>

      <div class="panel-button">
        <panel-button [panelColor]="'#009688'"> </panel-button>
      </div>
    </div>

    <div class="separator-horizontal">&nbsp;</div>

    <div class="board-row">
      <div class="panel-button">
        <panel-button [panelColor]="'#FFEB3B'"> </panel-button>
      </div>

      <div class="separator-vertical">&nbsp;</div>

      <div class="panel-button">
        <panel-button [panelColor]="'#03A9F4'"> </panel-button>
      </div>
    </div>

    <div class="menu">

    </div>

  </div>


</section>