<section class="content">

  <span class="title">Simon Game</span>

  <div class="board">

    <div class="board-row">
      <div class="panel-button">
        <panel-button [panel]="panels[0]"> </panel-button>
      </div>

      <div class="separator-vertical">&nbsp;</div>

      <div class="panel-button">
        <panel-button [panel]="panels[1]"> </panel-button>
      </div>
    </div>

    <div class="separator-horizontal">&nbsp;</div>

    <div class="board-row">
      <div class="panel-button">
        <panel-button [panel]="panels[2]"> </panel-button>
      </div>

      <div class="separator-vertical">&nbsp;</div>

      <div class="panel-button">
        <panel-button [panel]="panels[3]"> </panel-button>
      </div>
    </div>

    <div class="menu">

    </div>

  </div>


</section>